name: Unit tests

on: push

jobs:
    unit-tests:
        runs-on: ubuntu-latest

        strategy:
            matrix:
                php: [7.4, 7.3]
                laravel: [7.*, 6.*, 5.5.*]
                include:
                    - laravel: 7.*
                      testbench: ^5.2
                    - laravel: 6.*
                      testbench: 4.*
                    - laravel: 5.5.*
                      testbench: 3.5.*

        name: PHP${{ matrix.php }} - L${{ matrix.laravel }}

        steps:
            - name: Checkout code
              uses: actions/checkout@v1

            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php }}
                  coverage: xdebug
                  
            - name: Get Composer Cache Directory
              id: composer-cache
              run: |
                echo "::set-output name=dir::$(composer config cache-files-dir)"

            - uses: actions/cache@v2
              with:
                path: ${{ steps.composer-cache.outputs.dir }}
                key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.json') }}-${{ matrix.php }}-php${{ matrix.php }}-L${{ matrix.laravel }}
                restore-keys: |
                  ${{ runner.os }}-composer-${{ hashFiles('**/composer.json') }}-${{ matrix.php }}-php${{ matrix.php }}
                  ${{ runner.os }}-composer-${{ hashFiles('**/composer.json') }}-${{ matrix.php }}
                  ${{ runner.os }}-composer-${{ hashFiles('**/composer.json') }}
                  ${{ runner.os }}-composer-

            - name: Install dependencies
              run: |
                  composer require "laravel/framework:${{ matrix.laravel }}" "orchestra/testbench:${{ matrix.testbench }}" --no-interaction --no-update
                  composer update --prefer-dist --no-interaction --no-suggest

            - name: Execute tests
              uses: paambaati/codeclimate-action@v2.7.4
              env:
                  CC_TEST_REPORTER_ID: 23639f09f4ef515ddb5fea9baf90f9f5cd9bb5e0801cf1dc062d993a3d70d3eb
              with:
                  coverageCommand: vendor/bin/codecept run --xml test_report.xml --coverage --coverage-html --coverage-xml
                  coverageLocations: |
                    ${{github.workspace}}/tests/_output/coverage.xml:clover
